body{
  background: linear-gradient(black 30%, rgb(94, 2, 89));
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  height: 100vh;
}
h3{
  color: white;
  text-align: center;
}
/*Popup do upload*/
.tabela{
  width: 500px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border : 1px solid white;
}

.tabela #container{
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgb(255, 252, 252);
  margin-bottom: 10px;
  text-align: center;
}

.tabela #container #close{
  margin-left: 325px;
  width: 10%;
}

.tabela #container #texto{
  width: 90%;
}

.tabela #container #close button{
  border: none;
  border-radius: 20px;
  height: 15px;
  background-color: red;
  color: white;
  right: 5px;
  top: 5px;
  text-align: right;
}
/*-------------------------------------*/
