body{
	background-image: linear-gradient(rgb(164, 2, 132) 60%, rgb(94, 2, 89));
	background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
	min-height:100vh;
	font-family: 'Noto Sans', sans-serif;
}
footer{
  margin-top: 43%;
}
.text-center{
	color:rgb(94, 2, 89);	
	text-transform:uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}
.box{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.89);
	border-radius:3px;
	padding:70px 100px;
}
.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(103, 1, 100);	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(103, 3, 123);
}
.input-container input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #cd048a;	
}
.input-container input:focus ~ label,.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;	
} 
/*Animação do botão de login*/
.btn {
  text-decoration: none;
  background:transparent;
  border: 1px solid rgb(151, 3, 139);
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color:purple;
  outline: none;
  padding:10px 20px;
  text-transform:uppercase;
  margin-top:50px;
  border-radius:2px;
  cursor:pointer;

}
#divbtn {
  text-align: center;
  width: 100%;
} 
.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(81, 1, 90, 0.4);
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(79, 0, 77, 0.4),
    transparent
  );
  transition: all 650ms;
} 
.btn:hover:before {
  left: 100%;
}
/*--------------------------*/
/*Fundo animado*/
.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(117, 2, 127) 50%, rgb(195, 3, 172) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}
.bg3 {
  animation-duration:5s;
}
.content {
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/*-------------------------------*/
  