.navbar{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  border: 2px solid rgb(94, 2, 89);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.89);
  padding: 15px;
}
.navbar a{
  text-decoration: none;
  color: rgb(94, 2, 89);
}
.list{
  list-style: none;
  display: flex;
  gap: 25px;
}
.list a{
  text-decoration: none;
  position: relative;
  font-size: 18px;
}
#toggler, .navbar label{
  display: none;
}
/*Animação do butão na barra de navegação*/
.list li a::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(94, 2, 89);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}
.list li a:hover::after{
  transform: scaleX(1);
}
/*Animação da Logo do site*/
#logo{
  background-color: rgb(94, 2, 89);
  margin-right: 50px;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 2px;
  color: #F2F2F2;
  outline: 2px solid #F2F2F2;
  padding: 20px 50px;
  position: relative;
  overflow: hidden;
  transition: color 1s;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}
#logo:hover{
  color: #F2F2F2;
  background-color: rgba(0, 0, 0, 0.89);
  outline: 2px solid rgb(94, 2, 89);
}
/*-------------------------------------------*/
/*Butão para mudar o tema de fundo*/
li #tema {
  display: none;
}
li .button {
  display: inline-block;
  width: 80px;
  height: 25px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
li .button::after {
  content: url('./images/sun-line.svg');
  width: 30px;
  height: 30px;
  background-color: #e03c3c;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  position: absolute;
  top: -5px;
  left: 0;
  display: grid;
  place-content: center;
  line-height: 0;
  transition: background-color 1s,
      transform 1s ease-in;
}
li #tema:checked+.button::after {
  content: url('./images/moon-line.svg');
  background-color: #1f257f;
  transform: translateX(50px) rotate(360deg);
}
/*-----------------------------------------------*/