body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(black 30%, rgb(94, 2, 89));
  height: 100%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
}
form{
  border: 2px solid rgb(94, 2, 89);
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-top: 3%;
  background-color: rgba(0, 0, 0, 0.89);
  margin-left: 60%;
  margin-right: 10%;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}
input{
  border-radius: 5px;
  color: #0E0E0E;
  background-color: #F2F2F2;
}
label{
  color:rgb(94, 2, 89);
}

.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:rgb(103, 1, 100);	
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #555;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:rgb(103, 3, 123);
}
.input-container input:focus{ 
  border:none;	
  outline:none;
  border-bottom:1px solid #cd048a;	
}
.input-container input:focus ~ label,.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;	
} 

h3{
  color: #F2F2F2;
}
form h2{
  color:rgb(94, 2, 89);
}
#ou{
  color: #F2F2F2;
  text-align: center;
}
/*Animação da âncora de login no formulário*/
#login{
  color:rgb(94, 2, 89);
  display: inline-block;
  text-decoration: none;
  position: relative;
}
#login::after{
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgb(94, 2, 89);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;
}
#login:hover::after{
  transform: scaleX(1);
}
/*----------------------------------------------*/
/*Animação dos butões do formulário*/
#submit, #reset {
  word-wrap:break-word;
  text-decoration: none;
  background:transparent;
  border: 1px solid rgb(151, 3, 139);
  position: relative;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color:purple;
  outline: none;
  padding:10px 20px;
  text-transform:uppercase;
  margin-top:50px;
  border-radius:2px;
  cursor:pointer;

}
#submit, #reset {
  text-align: center;
  width: 30%;
} 
#submit:hover, #reset:hover {
  box-shadow: 1px 1px 25px 10px rgba(81, 1, 90, 0.4); 
}
#submit:before, #reset:before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(79, 0, 77, 0.4),
    transparent
  );
  transition: all 650ms;
} 
#submit:hover:before, #reset:hover:before{
  left: 100%;
}
/*-------------------------------------------*/
/*Animação das cartas de informação*/
*{
  box-sizing: border-box;
  font-family: consolas;
}
.container .box{
  position: relative;
  width: 320px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}
.container .box::before{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
}
.container .box::after{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}
.container .box:hover:before,.container .box:hover:after{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}
.container .box:nth-child(1):before,.container .box:nth-child(1):after{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}
.container .box:nth-child(2):before,.container .box:nth-child(2):after{
  background: linear-gradient(315deg, #03a9f4, #ff0058)
}
.container .box span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}
.container .box span::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}
.container .box:hover span::before{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
.container .box span::after{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}
.container .box:hover span:after{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}
@keyframes animate{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}
.container .box .content{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1;
  transform: 0.5s;
  color: #fff;
}
.container .box:hover .content{
  left: -25px;
  padding: 60px 40px;
}
.container .box .content h2{
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}
.container .box .content p{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.container .box .content a{
  display: inline-block;
  font-size: 1.1em;
  color: #111;
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  margin-top: 5px;
}
.container .box .content a:hover{
  background: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}
/*-----------------------------------*/


